body {
    color: white;
    background-color: rgb(201, 105, 15); 
    background-image: url("DemonlistBCKG.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: Sofia, sans-serif;
    cursor: default;
}

/*home button*/

.home {
    color: rgb(37, 101, 153);
    border: 4px solid rgb(53, 122, 74);
    text-decoration: none;
    display: inline-block; 
    padding: 10px 15.5px 10px 15.5px;
    border-radius: 14px;
    text-shadow: 0px 0px 50px rgb(37, 101, 153);
    transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
}

.home:hover {
    box-shadow: -1px 1px 30px 1px;
    color: rgb(53, 122, 74);
}

/* table configs */

table, td {
    border: 1px solid #ffffff65;
    border-style: dashed;
    border-collapse: collapse; 
    padding: 90px;             
    text-align: center;
    margin: auto;
    font-size: 30px;
    position: relative;
    transition: transform 0.2s ease-in-out, filter 0.4s ease-in-out;
}

th{
    border: 1px solid #ffffff65;
    border-style: dashed;
    border-collapse: collapse; 
    padding: 20px;             
    text-align: center;
    margin: auto;
    font-size: 30px;
    position: relative;
}

/* background images */

/***Universal Scale***/

td#one:hover, td#two:hover, td#three:hover, td#four:hover, td#five:hover, td#six:hover, td#seven:hover, td#eight:hover, td#nine:hover, td#ten:hover {
    transform: scale(1.1);
    z-index: 1;
    filter: brightness(1.25);
}

/***Society***/

td#one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("society.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/***Think Space II***/

td#two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("ts2.jpg");
    background-size: cover;
    background-position: center;
}

/***Flamewall***/

td#three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("flamewall.png");
    background-size: cover;
    background-position: center;
}

/***Amethyst***/

td#four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("amethyst.png");
    background-size: cover;
    background-position: center;
}

/***Tidal Wave***/

td#five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("tidalwave.png");
    background-size: cover;
    background-position: center;
}


/***ORBIT***/

td#six {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("orbit.png");
    background-size: cover;
    background-position: center;
}

/***Nullscapes***/

td#seven {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("nullscapes.png");
    background-size: cover;
    background-position: center;
}

/***Quanteuse Processing***/

td#eight {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("Quanteuse.png");
    background-size: cover;
    background-position: center;
}

/***Boobawamba***/

td#nine {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("boobawamba.png");
    background-size: cover;
    background-position: center;
}

/***Every End***/

td#ten {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("everyend.png");
    background-size: cover;
    background-position: center;
}




/* text effects */

/**universal transition and text deco**/

a {
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
    text-decoration: none;
}

/***Society***/

#new {
    display: flex;
    justify-content: right;
    right: 200px;
    font-size: small;
}

.word-container {
    display: flex;
    gap: 0px;
    justify-content: center;
}

span#ss {color: #ddbc68;}
span#so {color: #da6965;}
span#sc {color: #B32E2D;}
span#si {color: #000000;}
span#se {color: #BA810F;}
span#st {color: #CA221F;}
span#sy {color: #6e6e6e;}

td#one:hover a#one span {
    color: rgb(255, 135, 155);
}

/***Thinking space II***/

a#two {
    color: white;
    text-shadow: 3px 3px 3px black;
}

td#two:hover a#two {
    color: black;
    text-shadow: 3px 3px 3px white;
}

/***Flamewall***/

a#three {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px #D83829;
}

td#three:hover a#three {
    color: #D83829;
    text-shadow: 3px 3px 3px black;
}

/***Amethyst***/

a#four {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px #310A85;
}

td#four:hover a#four {
    color: #310A85;
    text-shadow: 3px 3px 3px white;
}

/***Tidal Wave***/

a#five {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(0, 183, 255);
}

td#five:hover a#five {
    color:rgb(0, 183, 255);
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
}

/***ORBIT***/

a#six {
    color: #88fff6; 
    text-shadow: 3px 3px 3px #62ff65;
}

td#six:hover a#six {
    color: #62ff65;
    text-shadow: 3px 3px 3px #88fff6;
}

/***Nullscapes***/

a#seven {
    color: black;
    text-shadow: 3px 3px 3px white;
}

td#seven:hover a#seven {
    color: white;
    text-shadow: 3px 3px 3px  black;
}

/***Quanteuse Processing***/

a#eight {
    color: white;
    text-shadow: 3px 3px 3px #E5209E;
}

td#eight:hover a#eight {
    color: #E5209E;
    text-shadow: 3px 3px 3px white;
}

/***BOOBAWAMBA***/

a#nine {
    color: green;
    text-shadow: 3px 3px 3px black;
}

td#nine:hover a#nine {
    color: black;
    text-shadow: 3px 3px 3px green;
}

/***Every End***/

a#ten {
    color: #027BF4;
    text-shadow: 3px 3px 3px #2D2731;
}

td#ten:hover a#ten {
    color: #2D2731;
    text-shadow: 3px 3px 3px #027BF4;
}

/*reserved custom id for orbit*/

span#o {color: #D1C65D;}
span#r {color: #45D4CB}
span#b {color: #CC5CCC;}
span#i {color: #CE3B17;}
span#t {color: #5BCD56;}

.mobile-warning-overlay {
            position: fixed;
            top: -40px;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: none;
            background-color: #121212;
            color: #ffffff;           
            
            /* Center the text perfectly */
            display: flex;
            justify-content: center;
            align-items: center;
            
            /* Typography */
            font-family: sans-serif;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            padding: 20px;
            
            /* Layer it above everything else */
            z-index: 9999; 
            
            /* Run the 'hideOverlay' animation for 4 seconds */
            animation: hideOverlay 1s forwards;
        }

        /* The 4-Second Animation */
        @keyframes hideOverlay {
            0% {
                opacity: 1;
                visibility: visible;
            }
            70% {
                opacity: 1; /* Keep it solid until near the end */
            }
            100% {
                opacity: 0;
                visibility: hidden; /* Removes it so you can click the page underneath */
            }
        }


